version: "3.8"

services:
  my-deno-website:
    image: robertfent1/deno-website:latest
    container_name: my-deno-website
    ports:
      - 8070:8070
    environment:
      - MODE=1
    labels:
      - "traefik.http.routers.deno.rule=Host(`robertfent.dev`)"
      - "traefik.http.routers.deno.tls=true"
      - "traefik.http.routers.deno.tls.certresolver=lets-encrypt"
      - "traefik.port=8070"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - db
      - web

networks:
  db:
    external: true
  web:
    external: true